CONNECTOR=csv:csv
PIPELINE_FILES_MANIFEST=output/manifest

# DB_PASS=""
# CONNECTOR=mariadb+pymysql://user:db@domain:port/table

# We support various kinds of connectors including "cache", "object", "excel", "csv", "gsheet", "json", "playwright+http","rest+http", "http", "csv+http" and "sqlite". Please refert connector examples in the below.

# CONNECTOR DEFAULT VALUE EXAMPLES
# mysql: CONNECTOR=mariadb+pymysql:{{db url}}
# csv: CONNECTOR=csv:{{csv file path}}
# json: CONNECT=json:{{json file path}}
