name: Python CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.cfg', '**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-d
      - name: Install dependencies
        run: |
          pip install .
      - name: Run pytest with coverage
        run: |
          pytest -s tests/metadata_handler_test.py
      - name: Generate coverage report
        run: |
          pytest --cov=src/truflation/data/ tests/metadata_handler_test.py --cov-report=xml
      - name: Get Cover 
        uses: orgoro/coverage@v3.1
        with:
            coverageFile: coverage.xml
            
